/node_modules
/storage
/vendor
/.idea
/.vagrant
./composer.lock
/public/css
/public/js
/public/fonts
/public/hot
/public/mix-manifest.json
/public/storage
composer.lock
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*lock.json
*.lock
